# Python
venv/
__pycache__/
*.pyc

# Data
data/raw/
data/processed/

# R
.Rhistory
.RData
renv/library/
renv/staging/
renv.lock

# LaTeX build
docs/*.aux
docs/*.log
docs/*.bbl
docs/*.blg
docs/*.out
docs/*.toc
docs/*.tex
docs/*.bib
docs/*.fls
docs/*.pdf
docs/*.synctex.gz
docs/logos/
docs/*.fdb_latexmk
docs/

# OS
.DS_Store
Thumbs.db
